/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

/* App Layout */
.app {
    display: flex;
    height: 100vh;
    background-size: 80%;
    background-position: right;
    background-repeat: no-repeat;
}

/* Header Styles */
.page-header {
    background-color: #000;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

/* Sidebar Styles */
.navigation_sidebar {
    width: 23vw;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

/* Main Content */
.main-content {
    margin-left: 23vw;
    width: calc(100vw - 23vw);
    overflow-y: auto;
    position: relative;
}

/* Ensure content is readable on any background */
.main-content > * {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}