.filter-sort-controls {
    position: fixed; /* Keeps it in a fixed position */
    top: 120px; /* Increased the top value to lower it further under the "New Task" button */
    right: 20px; /* Keep it aligned to the right */
    z-index: 1000; /* Ensure it's on top of other elements */
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
  
  .controls {
    display: flex;
    gap: 15px;
  }
  
  .filter-button {
    background-image: url('../utils/filter_button.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border: 2px solid #000000; /* Add border */
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for transform and shadow */
  
  }
  
  .sort-button {
    background-image: url('../utils/sort_button.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border: 2px solid #000000; /* Add border */
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for transform and shadow */
  
  }
  

  .filter-button:hover,
  .sort-button:hover {
    transform: scale(1.1); /* Enlarge the button */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
    border-color: #ffffff; /* Change border color on hover */
  }

  .filter-options,
  .sort-options {
    position: absolute; /* Positioned absolutely below the buttons */
    top: 40px; /* Space between the button and the dropdown */
    right: 0;
    z-index: 1001; /* Make sure dropdowns appear above everything */
    width: 200px;
    margin-top: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for a dropdown effect */
  }
  
  .filter-tags label {
    display: block;
    margin-top: 10px;
    font-size: 15px;
  }
  
  .clear-filters {
    margin-top: 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .clear-filters:hover {
    background-color: #aa0606;
  }
  
  .sort-option {
    display: block;
    margin: 5px 0;
    margin-top: 10px;
    background-color: #ff0000;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .sort-option:hover {
    background-color: #aa0606;
  }
  