/* NavigationSidebar.css */
.navigation_sidebar {
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 100vh; /* Full viewport height */
    position: fixed;
    top: 60px; /* Position below the header */
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation_sidebar h2 {
    margin-bottom: 20px;
}

.navigation_sidebar nav ul {
    list-style: none;
    padding: 0;
}

.navigation_sidebar nav ul li {
    margin: 20px 0;
    cursor: pointer;
    font-size: 30px;
}

.navigation_sidebar nav ul li .nav-link {
    text-decoration: none; /* Remove the default underline */
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.navigation_sidebar nav ul li .nav-link:hover {
    font-weight: bold;
    color: #ffcc00;
}

.navigation_sidebar nav ul li .nav-link.active {
    font-weight: bold;
    color: #ff0000;
}

.navigation_sidebar button.logout {
    background-color: #f00;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 28%;
    height: auto;
    margin-right: 10px;
}
.logo-text {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
}