.size-changer {
    position: fixed;
    bottom: 20px;
    right: 90px;
    z-index: 1000;
  }
  
  .size-minus-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 10px 17px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .size-minus-btn:hover {
    background-color: #d0d0d0;
  }

  .size-plus-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .size-plus-btn:hover {
    background-color: #d0d0d0;
  }