/* SprintModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(230, 230, 230);
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  margin-top: 40px;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content input.sprint-name {
  margin-bottom: 20px;
}

.modal-content input, .modal-content .react-datepicker-wrapper {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
}

.date-picker-container {
  margin-bottom: 10px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-actions button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ffee00;
  color: rgb(0, 0, 0);
  border: 2px solid #000000; /* Add a solid border */
}

.modal-actions button:hover {
  background-color: #fcf36c;
  border: 2px solid #ffffff; /* Add a solid border */
}