.kanban-board {
    padding: 20px;
  }
  
  .kanban-board h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sprint-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sprint-status {
    font-weight: bold;
  }
  
  .status-not-started { color: grey; }
  .status-active { color: #ffcc00; }
  .status-completed { color: green; }
  
  .start-sprint, .end-sprint {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .start-sprint { background-color: #4CAF50; color: white; }
  .end-sprint { background-color: #f44336; color: white; }
  
  .kanban-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .kanban-column {
    flex: 1;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    min-width: 250px;
  }
  
  .kanban-column-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .task-list {
    min-height: 300px;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adjust the gap as needed */
    margin-bottom: 20px; /* Add margin to space out droppable areas */
    margin-left: 30px;
    margin-right: 30px;
  }

  .task-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .task-details-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
  }
  
  
  /* Add more styles for TaskCardView and SprintTaskDetails as needed */