.kanban-board {
    padding: 20px;
  }
  
  .kanban-board h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sprint-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
    padding: 10px;
    border-radius: 5px;
  }
  
  .sprint-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .start-sprint, .pause-sprint, .resume-sprint, .end-sprint {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .start-sprint { background-color: #4CAF50; color: white; }
  .pause-sprint { background-color: #FFC107; color: black; }
  .resume-sprint { background-color: #2196F3; color: white; }
  .end-sprint { background-color: #F44336; color: white; }

  .start-sprint:hover {
    background-color: #2f6a31;
  }
  
  .pause-sprint:hover {
    background-color: #a76502;
  }
  
  .resume-sprint:hover {
    background-color: #17619d;
  }
  
  .end-sprint:hover {
    background-color: #7a1e1c;
  }

  .sprint-status {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  .status-not-started { 
    background-color: #E0E0E0; 
    color: #616161; 
    border: 2px solid black;
  }
  .status-active { 
    background-color: #FFF176; 
    color: #F57F17; 
    border: 2px solid #F57F17;
  }
  .status-completed { 
    background-color: #309835; 
    color: #ffffff; 
    border: 2px solid #004d04;
  }

  .kanban-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .kanban-column {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
    border-radius: 5px;
    padding: 10px;
    min-width: 250px;
  }
  
  .kanban-column-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .task-list {
    min-height: 300px;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adjust the gap as needed */
    margin-bottom: 20px; /* Add margin to space out droppable areas */
    margin-left: 30px;
    margin-right: 30px;
  }

  .task-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .task-details-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
  }
  
  
  /* Add more styles for TaskCardView and SprintTaskDetails as needed */