/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    overflow: hidden;
}

/* App Layout */
.app {
    display: flex;
    height: 100vh;
}

/* Header Styles */
.page-header {
    background-color: #000;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Full width minus the sidebar width */
    position: relative;
    z-index: 1;
}

/* Sidebar Styles */
.navigation_sidebar {
    width: 20%;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; /* Ensures it stays below the header */
}

/* Main Content */
.main-content {
    margin-left: 20vw; /* Aligns the main content next to the sidebar */
    /* padding: 20px; */
    width: calc(100vw - 20vw); /* Full width minus sidebar */
    background-image: url('./utils/client_background.jpg');
    background-size: cover; /* Ensure the background covers the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    overflow-y: auto;
    position: relative;
}
